// Миксин для сброса стилей списков
@mixin reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin vp-1279 {
  @media (max-width: $vp-1280 - 1) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-768 - 1) {
    @content;
  }
}
