html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font: inherit;

  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
