$color-1: #102654;
$color-2: #ffffff;
$color-3: #b80027;
$color-4: #003d85;
$color-5: #f8f9fc;
$color-6: #495a7d;
$color-7: #103aae;
$color-8: #e8e8e8;
$color-9: #d10a42;
$color-10: #00359f;
$color-11: #ed0233;
$color-12: #1c3374;

$font-1: "Bebas Neue", "Arial", sans-serif;

$vp-320: 320px;
$vp-375: 375px;
$vp-640: 640px;
$vp-768: 768px;
$vp-1280: 1280px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
$desktop-max-content: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
